<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django APP - First One</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css'%}"
    />
  </head>
  <body>
    <h1>OMG IT IS WORKING</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat officiis
      minima dolor atque distinctio quia amet voluptatem tempora animi odit!
    </p>
    <script type="text/javascript" src="{% static '/js/script.js'%}"></script>
  </body>
</html>
